<p>pipe-assignment works!</p>

<div class="row justify-content-center">
    <!-- <div>
        <label for="productid">Search by product</label>
        <input type="text" class="form-control" id="productid" placeholder="Enter product name" [(ngModel)]="namesearch">
    </div> -->
    <div class="col-md-8">
        <table class="table table-striped">
            <thead >
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of empData | pipeass">
                    <th scope="row">{{emp.id}}</th>
                    <td>{{emp.name}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.DOB}}</td>
                </tr>
            </tbody>
        </table>