<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img src="../../assets/angular.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: red">Angular</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="angular"  class="btn btn-danger">Register Here</a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/Java.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: red">Java</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="java" class="btn btn-danger">Register Here</a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/testing.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: red">Testing</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="testing" class="btn btn-danger">Register Here</a>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/devops.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: red">DevOps</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="devops" class="btn btn-danger">Register Here</a>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
