<p>pipedemo works!</p>
<p class="text-primary"> <strong>Date Pipe:</strong></p>
<div>
    Todays Date: {{todaysDate | date:'fullDate' | lowercase}}<br/>
    short date :- {{todaysDate | date:'shortDate' }} <br/>
    Full date :- {{todaysDate | date:'fullDate' }} <br/> 
    Formatted date:- {{todaysDate | date:'M/dd/yyyy'}} <br/> 
    Hours and minutes:- {{todaysDate | date:'h:mm'}} <br/> 
    Date with uppercase :- {{todaysDate | date:'fullDate' | uppercase}} <br/>
    Date with lowercase :- {{todaysDate | date:'medium' | lowercase}} <br/>   
</div>
<br>
<p class="text-primary"> <strong>Async Pipe:</strong></p>
<div>
    get values: {{obser | async }}
</div>
<br>
<p class="text-primary"> <strong>Currency Pipe:</strong></p>
<div>
    Laptop Prize:
        <div>
          India Price:  {{price | currency:'INR'}} <br>
          USA Price:  {{price | currency:'USD'}} <br>
          Number Format: {{price | number}}
        </div>
</div>
<br>
<p class="text-primary"> <strong>JSON Pipe:</strong></p>
<div>
    {{obj | json}}
</div>
<br>
<p class="text-primary"> <strong>Custom Pipe:</strong></p>
<div>
    Number of digit in price: {{price | count}}
</div>